<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Student #<%= @student.id %> details
    </h1>
       <form action="/insert_norming_sheet_list" method="post">
    
     
    
      <div>
           <a href="/norming_sheets" class="btn btn-block btn-outline-secondary">
          Create new sheet
        </a>
      </div>

    <div class="row mb-3">
      <div class="col">
        <a href="/students" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_student/<%= @student.id %>" class="btn btn-block btn-outline-secondary">
          Delete student
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @student.name %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @student.password %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@student.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@student.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit student
    </h2>

    <form action="/modify_student/<%= @student.id %>"  method="post" >
      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" value="<%= @student.name %>">
      </div>

      <div class="form-group">
        <label for="password_box">
          Password
        </label>

        <input type="text" id="password_box" name="query_password" class="form-control" value="<%= @student.password %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update student
      </button>
    </form>
  </div>
</div>

<hr>
