<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @student.name %>'s Norming Sheet
    </h1>
       <form action="/insert_norming_sheet_list" method="post">
    

    <dl>
      <dt>
        Your Norming Sheets
      </dt>
      <dd>

        Placeholder for norming sheets list
      <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <%# <a href="/courses/user/<%= @student.id/course/<%= @course.id %>"> %>
            Class
          </a> <th>
        
        </th>
        --> %>
       
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

         <th>
          Student ID
        </th>

        <th>
        </th>
      </tr>

      <% @norming_sheets.each do |norming_sheet| %>
      <tr>

        <td>
          <%= norming_sheet.title %>
        </td>
       
       
        <td>
          <%= norming_sheet.created_at %> 
        </td>
        <td>
          <%= norming_sheet.updated_at %>
        </td>

      
        <td>
          <a href="/norming_sheets/id/<%= @student.id %>/<%= norming_sheet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

      </dd>

       <dt>
        Your Team-mates' Sheets
      </dt>
      <dd>
        Placeholder for team-mates' norming sheets list
      </dd>

     
 
</div>

<hr>



  <div class="col-md-4 offset-md-4">
  
        <div class="form-group">
        <a href="/norming_sheets/id/<%=@student.id%>%" class="btn btn-block btn-outline-secondary">
          Create new sheet
        </a>
        </div>
   
   
  
        <div class="form-group">
        <a href="/courses/id/<%=@student.id%>" class="btn btn-block btn-outline-secondary">
          Register new class
        </a>
        </div>
 
    <hr>
     
      <div class="form-group">
        <a href="/delete_student/<%= @student.id %>" class="btn btn-block btn-outline-secondary">
          Delete your account
        </a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
