<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Add a new norming sheet to <%=@course.course_name%>
    </h1>
  </div>
</div>

<hr>
    <form action="/insert_norming_sheet" method="post">
      <div>
        <label for="student_id_box">
          Student ID
        </label>

        <input type="text" id="student_id_box" name="query_student_id" class="form-control" value="<%=@course.student_id%>">
      <div>


      <div class="form-group">
        <label for="class_id_box">
          Class Name
        </label>

  
        <input type="text" id="class_id_box" name="query_class_id" class="form-control" value="<%=@course.course_name%>">
      </div>

      <div class="form-group">
        <label for="class_name_box">
          Class ID
        </label>

  
        <input type="text" id="class_name_box" name="query_class_name" class="form-control" value="<%=@course.id%>">
      </div>


      <div class="form-group">
        <label for="personality_box">
          Personality
        </label>

        <textarea id="personality_box" name="query_personality" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="working_style_box">
          Working style
        </label>

        <textarea id="working_style_box" name="query_working_style" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="life_beyond_kellogg_box">
          Life beyond kellogg
        </label>

        <textarea id="life_beyond_kellogg_box" name="query_life_beyond_kellogg" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="development_goals_box">
          Development goals
        </label>

        <textarea id="development_goals_box" name="query_development_goals" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="hidden_superpower_box">
          Hidden superpower
        </label>

        <textarea id="hidden_superpower_box" name="query_hidden_superpower" class="form-control" rows="3"></textarea>
      </div>

      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create norming sheet
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Class
        </th>
        
        <th>
          ID
        </th>

        <th>
          Personality
        </th>

        <th>
          Working style
        </th>

        <th>
          Life beyond kellogg
        </th>

        <th>
          Development goals
        </th>

        <th>
          Hidden superpower
        </th>

      

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

         <th>
          Student ID
        </th>

        <th>
        </th>
      </tr>

      <% @norming_sheets.each do |norming_sheet| %>
      <tr>

        <td>
          <%= norming_sheet.title %>
        </td>
       
        <td>
          <%= norming_sheet.id %>
        </td>

        <td>
          <%= norming_sheet.personality %>
        </td>

        <td>
          <%= norming_sheet.working_style %>
        </td>

        <td>
          <%= norming_sheet.life_beyond_kellogg %>
        </td>

        <td>
          <%= norming_sheet.development_goals %>
        </td>

        <td>
          <%= norming_sheet.hidden_superpower %>
        </td>



        <td>
          <%= time_ago_in_words(norming_sheet.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(norming_sheet.updated_at) %> ago
        </td>

        <td>
          <%= norming_sheet.student_id %>
        </td>

        <td>
          <a href="/norming_sheets/userid/<%= @student.id %>/course/<%= norming_sheet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
